@import "reset";
@import "mixins";

$background: #F3F4F6;
$menuBackground: #F9FAFB;
$menuColor: #374151;


body {
    height: 100vh;
    background-color: #f0f0f0;
}

[class*="container"] {
    display: flex;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    align-items: center;
    height: 100vh;
}